<div class="header">

    <a href="#" class="logo">
        <img class="logo" src="assets/img/logo.png">
    </a>

    <a href="#" class="logo-small">
        <img class="logo-small" src="assets/img/logo-small.png">
    </a>


    <div class="links">
        <a href="#about" translate>About me</a>
        <a href="#skills" translate>Skills</a>
        <a href="#portfolio" translate>Portfolio </a>
        <img class="translateImg" src="assets/img/german-flag.jpg" (click)="translate.use('de');" (click)="germanImg()"
            *ngIf="german">
        <img class="translateImg" src="assets/img/english-flag.jpg" (click)="translate.use('en');"
            (click)="englishImg()" *ngIf="!german">

    </div>
</div>