.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 110px 0 110px;
    background-color: rgb(20, 29, 47);
    font-size: 24px;
    z-index: 999;

    img {
        cursor: pointer;
        width: 300px;
        object-fit: contain;
    }

    // a {
    //     color: white;
    //     text-decoration: none;
    //     position: relative;
    //     display: inline-block;
    //     transition: all 225ms ease-in-out;
    //     outline: none;
    
    //     &:after {
    //         content: '';
    //         position: absolute;
    //         bottom: -4px;
    //         left: -1px;
    //         width: 0;
    //         height: 2px;
    //         border-radius: 5px;
    //         background-color: rgb(75, 71, 255);
    //         transition: all 125ms ease-in-out;
    //     }
    
    //     &:hover {
    //         color: #00BEE8 !important;
    //         cursor: pointer;
    
    //         &:after {
    //             width: 40%;
    //         }
    //     }
    
    //     &:focus {
    //         color: #00BEE8 !important;
    
    //         &:after {
    //             width: 100%;
    //         }
    //     }
    // }
}


.links {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;


    a {
        color: white;
        text-decoration: none;
        position: relative;
        display: inline-block;
        transition: all 225ms ease-in-out;
        outline: none;
    
        &:after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: -1px;
            width: 0;
            height: 2px;
            border-radius: 5px;
            background-color: rgb(75, 71, 255);
            transition: all 125ms ease-in-out;
        }
    
        &:hover {
            color: #00BEE8;
            cursor: pointer;
    
            &:after {
                width: 40%;
            }
        }
    
        &:focus {
            color: #00BEE8;
    
            &:after {
                width: 100%;
            }
        }
    }
}
