<div class="footer-section">

    <div class="logo-parent">
        <a href="#introduction">
            <img src="assets/img/logo.webp">
        </a>
        <a routerLink="/imprint" class="imprint">Imprint</a>
    </div>

    <div class="name">
        <span>© Robert Aliaj 2023</span>
    </div>

    <div class="links">
        <a href="#"> <img src="assets/img/icons/github.webp"></a>
        <a href="#"> <img src="assets/img/icons/contact.webp"></a>
        <a href="#"> <img src="assets/img/icons/linkedin.webp"></a>
    </div>
</div>