<div class="footer-section">

    <div class="logo-parent">
        <a href="#introduction">
            <img src="assets/img/logo.png">
        </a>
        <a routerLink="/imprint" class="imprint">Imprint</a>
    </div>

    <div class="name">
        <span>© Robert Aliaj 2023</span>
    </div>

    <div class="links">
        <a href="#"> <img src="assets/img/icons/github.png"></a>
        <a href="#"> <img src="assets/img/icons/contact.png"></a>
        <a href="#"> <img src="assets/img/icons/linkedin.png"></a>
    </div>
</div>