<section class="section" id="about">

    <div class="about-me-parent">

        <!-- 1 -->
        <span class="about-me-child" translate>About me</span>

        <!-- 2 -->
        <p class="about-me-child" translate>
            Hello! I am a passionate frontend developer based in Dortmund. The boundless possibilities of the IT
            industry have always fascinated me and sparked my curiosity. This fascination has evolved into a deep
            passion for designing appealing, intuitive, and user-friendly websites and applications.
        </p>

        <!-- 3 -->
        <div class="description about-me-child">
            <div class="icons-div">
                <img src="assets/img/icons/lamp.webp">
            </div>
            <p translate>
                In my work, I see programming not just as writing code, but as a form of creative problem-solving. One
                of my strengths, which I am particularly proud of, is my ability to translate complex technical
                challenges into simple and user-friendly solutions. In this way, I can support people in achieving their
                goals and turning their visions into reality.
            </p>
        </div>

        <!-- 4 -->
        <div class="description about-me-child">
            <div class="icons-div">
                <img src="assets/img/icons/puzzle.webp">
            </div>
            <p translate>
                Every day, I approach my work with enthusiasm. I love being part of this dynamic industry, shaping the
                digital landscape, and utilizing the seemingly endless creativity and innovation potential of the IT
                sector. It's this fulfilling task that excites me anew for my work every day.
            </p>
        </div>

    </div>

    <div class="right-content-parent">

        <img src="assets/img/about-me.webp">

        <div class="blue-line-right"></div>
    </div>

</section>