section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10% 0 10%;
    position: relative;
    margin-top: clamp(150px, 135.24451939291737px + 4.215851602023609vw, 200px);
    scroll-margin-top: 150px;
}

.about-me-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;

    span {
        font-weight: 900;
        font-size: clamp(2rem, 1.375rem + 3.125vw, 4.375rem);
    }

    p {
        font-weight: 400;
        font-size: clamp(1rem, 0.9671052631578947rem + 0.1644736842105263vw, 1.125rem);
        line-height: 120%;
    }
}

.about-me-child {
    width: 100%;
    color: white;
}

.description {
    display: flex;
}

.icons-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 16px;

    img {
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
}

.right-content-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46%;
    position: absolute;
    right: 0;

    img {
        width: clamp(350px, 204.09556313993173px + 15.358361774744028vw, 440px);
        object-fit: cover;
        margin-top: 30px;
    }
}

.blue-line-right {
    width: 50%;
    background-color: #00BEE8;
    height: 4px;
}

@media(max-width:950px) {
    .right-content-parent {
        display: none;
    }

    .about-me-parent {
        width: 100%;
        z-index: 22;
    }

    section {
        padding: 0 5% 0 5%;
    }

    .icons-div {
        width: auto;

        img {
            margin-right: 10px;
        }
    }
}