<div class="about-me-section section" id="about">

    <div class="about-me-parent">

        <!-- 1 -->
        <span class="about-me-child" translate>About me</span>

        <!-- 2 -->
        <p class="about-me-child" translate>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur aliquam quis
            hic inventore tempore
            praesentium adipisci, doloremque vero minima officiis sit id sequi, in quisquam possimus quidem ducimus?
            Nisi, ex?</p>

        <!-- 3 -->
        <div class="description about-me-child">
            <div class="icons-div">
                <img src="assets/img/icons/lamp.webp">
            </div>
            <p translate>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio vel delectus rem illum
                labore officiis ex
                accusantium placeat eos qui. Ullam, odio provident tenetur deleniti atque fuga hic sint consequatur.</p>
        </div>

        <!-- 4 -->
        <div class="description about-me-child">
            <div class="icons-div">
                <img src="assets/img/icons/puzzle.webp">
            </div>
            <p translate>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio vel delectus rem illum
                labore officiis ex
                accusantium placeat eos qui. Ullam, odio provident tenetur deleniti atque fuga hic sint consequatur.</p>
        </div>

    </div>

    <div class="left-content-parent">
        
        <div class="blue-circle">
            <img src="assets/img/about-me.webp" alt="">
        </div>

        <div class="blue-line-right"></div>
    </div>

</div>