<section class="section" id="about">

    <div class="about-me-parent">

        <span class="about-me-child" translate>About me</span>

        <p class="about-me-child" translate>
            Hello! I am a passionate front-end developer based in Dortmund. The boundless possibilities of programming
            have always fascinated me and sparked my curiosity. This fascination has evolved into a deep passion for
            designing appealing, intuitive, and user-friendly websites and applications.
        </p>

        <div class="description about-me-child">
            <div class="icons-div">
                <img src="assets/img/icons/lamp.webp">
            </div>
            <p translate>
                I see programming as a form of creative problem-solving. One of my strengths is my
                ability to translate complex technical challenges into simple, user-friendly solutions. In this way, I
                can support people in achieving their goals and turning their visions into reality.
            </p>
        </div>

        <div class="description about-me-child">
            <div class="icons-div">
                <img src="assets/img/icons/puzzle.webp">
            </div>
            <p translate>
                I love being part of this dynamic industry, shaping the digital landscape, and utilizing the seemingly
                endless creativity and innovation potential of programming. This fulfilling task excites me anew for my
                work every day.
            </p>
        </div>

    </div>

    <div class="right-content-parent">
        <img src="assets/img/my-photos/about-me.webp">
        <div class="blue-line-right"></div>
    </div>

</section>