.about-me-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 110px 0 110px;
    position: relative;
    margin-top: -400px;
}

.about-me-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 35%;

    span {
        font-weight: 900 !important;
        font-size: 70px !important;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
    }
}

.about-me-child {
    width: 100%;
    color: white;
}

.description {
    display: flex;
}

.icons-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 16px;

    img {
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
}

.left-content-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

}

.blue-circle {
    width: 453px;
    height: 453px;
    border: 4px solid #00BEE8;
    border-radius: 100%;
    margin-right: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
        width: 530px;
        object-fit: contain;
    }
}

.blue-line-right {
    width: 267px;
    background-color: #00BEE8;
    height: 4px;
    position: absolute;
    right: 0px;
}

.section {
	scroll-margin-top: 150px;
}