.contact-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 0 10% 0 10%;
    position: relative;
    color: white;
    margin-top: 70px;

    form {
        display: flex;
        align-items: center;
        gap: 25px;
        flex-direction: column;
        width: 50%;


        .input-bg-warning {
            background: url('^assets/img/background-images/input-bg.webp') no-repeat scroll 7px 7px !important;
            background-position: calc(100% - 20px) 10px !important;
        }

        .transparent {
            color: transparent;
        }

        input {
            width: 100%;
            border: 1px solid #4B47FF;
            border-radius: 10px;
            height: 50px;
            padding: 15px 25px;
            background: #141D2F;
            color: white;
            padding-right: 50px;
        }


        input::placeholder,
        textarea::placeholder {
            color: white;
        }


        input:hover,
        textarea:hover {
            border-color: #00BEE8;
        }


        input.has-content:hover,
        input.empty-focused:hover,
        textarea.has-content:hover,
        textarea.empty-focused:hover {
            border-color: #00BEE8;
        }


        input.has-content,
        textarea.has-content {
            border-color: green !important;
        }

        input.empty-focused,
        textarea.empty-focused {
            border-color: #E61C40 !important;
        }


        input:focus,
        textarea:focus {
            background: #141D2F;
            color: white;
            border: 1px solid #E61C40;
            outline: none;
        }

        input:focus::placeholder,
        textarea:focus::placeholder {
            color: transparent;
        }

        textarea {
            width: 100%;
            width: 100%;
            border: 1px solid #4B47FF;
            border-radius: 10px;
            height: 50px;
            padding: 15px 25px;
            padding-right: 50px;
            background: #141D2F;
            height: 202px;
            color: white;
            resize: none;
        }

        button {
            display: grid;
            place-content: center;
            background-color: #00BEE8;
            width: clamp(200px, 186.8421052631579px + 4.111842105263158vw, 250px);
            transition: 0.2s;
            margin-top: 0px;
            margin-left: 0px;

            &:hover {
                background-color: rgb(75, 71, 255);
                transform: scaleX(1.1) scaleY(1.1);
                transition: all 125ms ease-in-out;
            }
        }
    }
}


.contact-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    justify-content: space-between;

    span {
        font-weight: 700;
        font-size: clamp(1.75rem, 1.6842105263157894rem + 0.3289473684210526vw, 2rem);
        width: 70%;
    }

    p {
        font-weight: 400;
        font-size: clamp(1rem, 0.9671052631578947rem + 0.1644736842105263vw, 1.125rem);
        line-height: 120%;
        width: 70%;
    }
}


.background {
    position: absolute;
    left: 0;
    bottom: -300px;
    z-index: -1;
    width: clamp(450px, 436.8421052631579px + 4.111842105263158vw, 500px);
    max-width: 100%;
}


/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 80px #141D2F inset !important;
}


/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

input {
    caret-color: white;
}

.input-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    span {
        color: #E61C40;
    }

    img {
        position: absolute;
        right: 21px;
        top: 11px;

    }
}


.loader {
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: loaderAnimation 2s ease infinite;
}


@keyframes loaderAnimation {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(2turn);
    }
}


@media(max-width: 950px) {

    .contact-section {
        padding: 0 5% 0 5%;
        flex-direction: column;

        form {
            width: 100%;
        }
    }

    .contact-text {
        width: 100%;

        span {
            width: 100%;
        }

        p {
            width: 100%;
        }
    }

    .background {
        left: -120px;
        bottom: -200px;
        height: 350px;
    }
}