<div class="contact-section">

    <div class="contact-text">
        <span>Got a problem to solve?</span>
        <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
            projects with my work.</p>
        <p>Need a Frontend developer? <b> Contact me! </b></p>
    </div>

    <form (submit)="sendMail()" #myForm ngNativeValidate>

        <input required type="text" name="name" placeholder="Your name" #nameField (input)="onInput($event)" (blur)="onBlur($event)">

        <input required type="email" name="email" placeholder="Your email" (input)="onInput($event)" (blur)="onBlur($event)">

        <textarea required type="text" name="message" placeholder="Your message" #messageField (input)="onInput($event)" (blur)="onBlur($event)"></textarea>

        <button class="contact-button" #sendButton type="submit">Contact me!!!</button>
    </form>

    <!-- <img class="bg-image" src="assets/img/background-images/Contact-form-bg.png"> -->
</div>







<!-- #nameField -> Deise Schreibweise ist eine Id vergebung in Angular, dadurch kann ich auf das Element mit der jeweiligen Id zugreifen, von dem Component.ts aus  -->