section{
    background-image: url('^assets/img/background-images/background-projects.webp');
    background-repeat: no-repeat;
    background-position: -120px 0px;
    padding: 0 10% 0 10%;
    position: relative;
}


.project {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    color: white;
    margin-top: 160px;
    gap: 10%;



    img {
        width: 450px;
        object-fit: contain;
    }
}


.reverse {
    flex-direction: row-reverse;
}


.project-description-reverse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 50%;
}


.img-div-reverse {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}



.img-div {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}


.project-description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    width: 50%;

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        margin: 0 0 0 0;
    }
}


.project-name {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #4B47FF;
}


.project-tech {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #00BEE8;
}

.button-div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 10%;
}


.button-div-reverse {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 10%;
}


.github-button {
    background-color: unset !important;
    border: 1px solid #00BEE8;
}

.project-button {
    background-color: rgb(75, 71, 255);
    margin: 25px 0 0 0px;


    &:hover {
        background-color: #00BEE8 !important;
    }
}


.background {
    width: unset !important;
    position: absolute;
    right: 0;
    object-fit: contain;
    width: calc(100% - 100px);
    z-index: -15;
    bottom: -335px;
}