<section>
    <div class="project" *ngFor="let project of projects; let i = index" [ngClass]="{'reverse': i % 2 == 0}">

        <div [ngClass]="{'img-div-reverse': i % 2 == 1, 'img-div': i % 2 == 0}">
            <img src="assets/img/projects/{{ project.image }}">
        </div>

        <div [ngClass]="{'project-description-reverse': i % 2 == 1, 'project-description': i % 2 == 0}">
            <span class="project-name">{{ project.title }}</span>

            <span class="project-tech">
                <ng-container *ngFor="let skill of project.skills let isLast=last">
                    {{ skill }}{{isLast ? '' : ' | '}}
                </ng-container>
            </span>

            <p translate>{{ project.description }}</p>


            <div [ngClass]="{'button-div-reverse': i % 2 == 1, 'button-div': i % 2 == 0}">
                <ng-container *ngFor="let link of project.links; let j = index">
                    <a *ngIf="j == 0" class="project-button" href="{{ link }}" target="_blank">Live Test</a>
                    <a *ngIf="j == 1" class="project-button github-button" href="{{ link }}" target="_blank">Github</a>
                </ng-container>
            </div>

        </div>
    </div>

    <img class="background" src="assets/img/background-images/bg-green-p.webp">
</section>