<section>
    <div class="project" *ngFor="let project of projects; let i = index" [ngClass]="{'reverse': i % 2 == 0}">

        <div [ngClass]="{'img-div-reverse': i % 2 == 1, 'img-div': i % 2 == 0}">
            <img src="assets/img/projects/{{ project.image }}">
        </div>

        <div [ngClass]="{'project-description-reverse': i % 2 == 1, 'project-description': i % 2 == 0}">
            <span class="project-name">{{ project.title }}</span>


            <span class="project-tech">
                <ng-container *ngFor="let skill of project.skills let isLast=last">
                    {{ skill }}{{isLast ? '' : ' | '}}
                </ng-container>
            </span>

            <p>{{ project.description }}</p>

            <div [ngClass]="{'button-div-reverse': i % 2 == 1, 'button-div': i % 2 == 0}">
                <a class="project-button" href="#">Live Test</a>
                <a class="project-button github-button" href="#">Github</a>
            </div>
        </div>
    </div>

    <img class="background" src="assets/img/background-images/bg-green-p.png">
</section>