// style für das menu + bei transition wird definiert wie schnell das ganze passieren soll
.menu {
    position: fixed;
    top: 0px;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(20 29 47 / 80%);
    overflow: hidden;
    transition: right 0.6s;
    z-index: 52;
    display: grid;
    place-content: center;

    @media(min-width: 600px) {
        display: none;
    }
}


// bis wo das Menu kommen soll 
.menu.open {
    right: 0;
}

// style für die ul
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


// style für die li
.menu ul li {
    // border-bottom: 1px solid #444;
    opacity: 0;
}


// Wie schnell die Links-Animation ausgeführt wird
.menu.open ul li {
    animation: slideInLinks 0.9s forwards;
}


// Animation für die Links
@keyframes slideInLinks {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }


    60% {
        transform: translateX(-5%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


// die a Elemente Stylen
.menu ul li a {
    display: block;
    padding: 10px 20px;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: all 225ms ease-in-out;
    outline: none;
    width: max-content !important;

    &:after {
        content: '';
        position: absolute;
        bottom: 4px;
        left: 16px;
        width: 0;
        height: 2px;
        border-radius: 5px;
        background-color: rgb(75, 71, 255);
        transition: all 225ms ease-in-out;
    }

    &:hover {
        color: #00BEE8;
        cursor: pointer;

        &:after {
            width: 40%;
        }
    }
}


.menu-btn-div{
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 53;
    padding-right: 5%;

    @media (min-width: 600px) {
        display: none;
    }
}


// Hamburger Menu
.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 54;


    @media (min-width: 600px) {
        display: none;
    }
}

.menu-btn-burger {

    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all 225ms ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all 225ms ease-in-out;
}


.menu-btn-burger::before {
    transform: translateY(-8px);
}

.menu-btn-burger::after {
    transform: translateY(8px);
}


.menu-btn.open .menu-btn-burger {
    /* transform: translate(0px); */
    background: transparent;
    box-shadow: none;
}


.menu-btn.open .menu-btn-burger::before {
    transform: rotate(45deg);
}


.menu-btn.open .menu-btn-burger::after {
    transform: rotate(-45deg);
}