<div class="slide-out-menu" #menu>
    <ul>
        <li><a href="#about" translate>About me</a></li>
        <li><a href="#skills" translate>My Skills</a></li>
        <li><a href="#portfolio" translate>Portfolio</a></li>
        <li><a href="#contact" translate>Contact</a></li>
        <li><a routerLink="/imprint" translate>Imprint</a></li>
        <li>
            <img class="flag-img" [src]="header.flagSrc" (click)="header.toggleLanguage()" />
        </li>
    </ul>
</div>

<div class="burger-btn-div">
    <div class="burger-btn" #menuBtn>
        <div class="burger-middle-line"></div>
    </div>
</div>

<app-header #header></app-header>