.project {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    flex-direction: row-reverse;
    text-align: right;
    overflow: hidden;
    gap: 10%;
    width: 100%;
    padding: 0 110px 0 110px;
    margin-top: 200px;

    height: 400px;

    img {
        width: 450px;
        object-fit: contain;
    }
}


.img-div {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}


.project-description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    width: 50%;

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        margin: 0 0 0 0;
    }
}


.project-name {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #4B47FF;
}


.project-tech {
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #00BEE8;
}

.button-div {
    display: flex;
}


.github-button {
    background-color: unset !important;
    border: 1px solid #00BEE8;
}

.project-button {
    background-color: rgb(75, 71, 255);
    margin: 25px 0 0 80px;


    &:hover {
        background-color: #00BEE8 !important;
    }
}


.background {
    width: unset !important;
    position: absolute;
    right: 0;
    object-fit: contain;
    width: calc(100% - 100px);
    z-index: -15;
}