.portfolio-section {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    margin-top: 200px;

    span {
        display: inline-block;
        font-weight: 900;
        font-size: 70px;
        padding: 0 20px 0 20px;
        z-index: 15;
        background-color: rgb(20, 29, 47);
        margin-left: 50px;
    }
}


.blue-line {
    width: 20%;
    height: 5px;
    background-color: #4B47FF;
    position: absolute;
    left: 0;
    top: 50px;
}