<section id="skills">

    <div class="icons">
        <img src="assets/img/skills-icons/angular.webp" alt="Angular">
        <img src="assets/img/skills-icons/typescript.webp" alt="Typescript">
        <img src="assets/img/skills-icons/javascript.webp" alt="JavaScript">
        <img src="assets/img/skills-icons/html.webp" alt="HTML">
        <img src="assets/img/skills-icons/firebase.webp" alt="Firebase">
        <img src="assets/img/skills-icons/git.webp" alt="Git">
        <img src="assets/img/skills-icons/css.webp" alt="CSS">
        <img src="assets/img/skills-icons/api.webp" alt="API">
        <img src="assets/img/skills-icons/scrum.webp" alt="Scrum">
        <img src="assets/img/skills-icons/material.webp" alt="Material Design">
    </div>

    <div class="blue-line-right"></div>
    
    <div class="description">
        <span translate>My Skills</span>
        <p translate>I have grown my frontend developments skills that have allowed me to create different real
            projects.</p>
        <a href="#contact" class="button skills-button" translate>Get in touch</a>
    </div>
</section>