.skills-section {
    display: flex;
    width: 100%;
    padding: 0 110px 0 110px;
    color: white;
    margin-top: 200px;
    position: relative;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;


    span {
        font-weight: 900;
        font-size: 70px;
        display: inline-block;
        width: max-content;
        margin-left: 30px;
    }

    p {
        width: 90%;
        text-align: right;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
    }

    a {
        margin-left: 30px;
    }
}

.icons {
    display: flex;
    flex-wrap: wrap;
    column-gap: 140px;
    row-gap: 20px;
    max-width: 60%;
}


.icons img:hover {
    transform: translateY(-10px);
}

.skills-button {
    margin: 20px 0 0 0;
}

.background {
    position: absolute;
    left: 0;
    z-index: -10;
    object-fit: contain;
    position: absolute;
    left: -550px;
    z-index: -10;
    object-fit: contain;
    transform: rotateX(160deg);
}