<div class="skills-section" id="skills">

    <div class="icons">
        <img src="assets/img/skills-icons/angular.png">
        <img src="assets/img/skills-icons/typescript.png">
        <img src="assets/img/skills-icons/javascript.png">
        <img src="assets/img/skills-icons/html.png">
        <img src="assets/img/skills-icons/firebase.png">
        <img src="assets/img/skills-icons/git.png">
        <img src="assets/img/skills-icons/css.png">
        <img src="assets/img/skills-icons/api.png">
        <img src="assets/img/skills-icons/scrum.png">
        <img src="assets/img/skills-icons/material.png">
    </div>

    <div class="description">
        <span>My Skills</span>
        <p>I have grown my frontend developments skills that have allowed me to create different real projects.</p>
        <a href="#contact" class="button skills-button">Get in touch</a>
    </div>


    <img class="background" src="assets/img/background-images/skills.png" alt="">

</div>