<div class="skills-section" id="skills">

    <div class="icons">
        <img src="assets/img/skills-icons/angular.webp">
        <img src="assets/img/skills-icons/typescript.webp">
        <img src="assets/img/skills-icons/javascript.webp">
        <img src="assets/img/skills-icons/html.webp">
        <img src="assets/img/skills-icons/firebase.webp">
        <img src="assets/img/skills-icons/git.webp">
        <img src="assets/img/skills-icons/css.webp">
        <img src="assets/img/skills-icons/api.webp">
        <img src="assets/img/skills-icons/scrum.webp">
        <img src="assets/img/skills-icons/material.webp">
    </div>

    <div class="description">
        <span translate>My Skills</span>
        <p translate>I have grown my frontend developments skills that have allowed me to create different real projects.</p>
        <a href="#contact" class="button skills-button" translate>Get in touch</a>
    </div>


    <img class="background" src="assets/img/background-images/skills.webp" alt="">

</div>