.introduction {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 110px 0 110px;
    background-image: url('^assets/img/background-images/introduction-green.png'), url('^assets/img/background-images/introduction-purple.png');
    background-position: left 199px top 20px, left -13px top 54px;
    background-repeat: no-repeat;
    position: relative;

    .introduction-img {
        width: 650px;
        height: 100%;
        object-fit: contain;
    }

    .vector-img {
        width: calc(100% + 220px);
        margin-top: -470px;

    }
}


.introduction-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.introduction-text {
    color: white;
    display: flex;
    margin-bottom: 100px;
    margin-left: -82px;
    font-size: 50px;
    font-weight: 400 !important;
    z-index: 10;


    .translate {
        display: inline-block;
        transform: rotate(-90deg);
        margin-right: -31px;
        width: max-content;
        font-size: 60px;
        margin-top: 57px;
        height: fit-content;
        margin: 55px 0px 0px 0px;
    }

    .name {
        font-weight: 900 !important;
        font-size: 70px !important;
    }

    .color-title {
        color: #4B47FF;
        width: max-content;
    }
}

.name-parent {
    margin-left: -10px;
}


.left-line-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    position: absolute;
    bottom: 570px;
    left: 0;
}

.left-line {
    background: #4B47FF;
    width: 110px;
    height: 4px;
}


.links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    a {
        color: white;
        font-size: 23px;
        text-decoration: none;
    }
}

.scroll-down {
    position: absolute;
    bottom: 600px;
    right: 50px;
    color: white;
    font-size: 23px;
    text-decoration: none;
    transform: rotate(90deg);

    img {
        transform: rotate(-90deg);
    }
}


.background-purple {
    position: absolute;
    bottom: 0px;
    right: 0;
    background-image: url('^assets/img/background-images/introduction-purple2.png');
    background-repeat: no-repeat;
    z-index: 20;
    width: 303px;
    background-size: cover;
    height: 600px;
}