<section class="introduction" id="introduction">

    <div class="introduction-parent">

        <img class="introduction-img" src="assets/img/Download.webp">

        <div class="introduction-text">

            <span class="translate" [class.hidden]="!changeLang" translate>I am </span>

            <div class="name-parent">
                <span class="name">ROBERT ALIAJ</span>
                <div class="color-title" translate>FRONTEND DEVELOPER</div>
                <a href="#contact" class="button" translate>Let's talk!</a>
            </div>
        </div>
    </div>

    <img class="vector-img" src="assets/img/background-images/vector.webp">
    <img class="vector-img-responsive" src="assets/img/background-images/Vector (2).webp">

    <div class="links-parent">
        <div class="left-line-parent">

            <div class="left-line"></div>

            <div class="links">
                <a href="https://github.com/RobertAliaj" target="_blank" title="Github">
                    <img src="assets/img/icons/github.webp">
                </a>
                <a href="mailto: robertaliaj97@gmail.com" title="Send Mail">
                    <img src="assets/img/icons/contact.webp">
                </a>
                 <a href="https://www.linkedin.com/in/robert-aliaj-373b6a235/" target="_blank" title="LinkedIn">
                    <img src="assets/img/icons/linkedin.webp">
                </a>

                <a href="mailto: robertaliaj97@gmail.com" class="email" title="Send Mail">
                    robertaliaj97@gmail.com
                </a>
            </div>
        </div>

        <span class="scroll-down" translate>Scroll down <img class="scroll-down-arrow"
                src="assets/img/icons/arrow-right.webp"></span>
    </div>
    <div class="background-purple"></div>



</section>