.introduction {
    margin-top: 100px;
    display: flex;
    // justify-content: space-evenly;
    align-items: center;
    padding: 0 110px 0 110px;
    background-image: url('^assets/img/background-images/introduction-green.png'), url('^assets/img/background-images/introduction-purple.png');
    background-position: left 200px top, left 100px top;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-left: -50px;

    .introduction-img {
        width: 50%;
        height: 100%;
        object-fit: contain;
    }

    button {
        background-color: #00BEE8;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        width: 165px;
        height: 58px;
        padding: 15px 30px;
        gap: 10px;
        border: none;
        font-size: 23px;
        line-height: 120%;
        color: white;
        cursor: pointer;

        &:hover {
            
        }
    }


    .vector-img {
        width: 100%;
        position: absolute;
        top: 230px;
        left: 0;
    }
}


.introduction-text {
    color: white;
    display: flex;
    margin-bottom: 215px;
    margin-left: -82px;
    font-size: 50px;
    font-weight: 400 !important;




    .translate {
        display: inline-block;
        transform: rotate(-90deg);
        margin-right: -31px;
        width: max-content;
    }

    .name {
        font-weight: 900 !important;
        font-size: 70px !important;
    }

    .color-title {
        color: rgb(151, 71, 255);
        width: max-content;
    }
}