section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10% 0 10%;
    background-image: url('^assets/img/background-images/introduction-green.webp'), url('^assets/img/background-images/introduction-purple.webp');
    background-position: left 200px top 20px, left -20px top 54px;
    background-repeat: no-repeat;
    position: relative;
    scroll-margin-top: 120px;
}


.introduction-img {
    width: 32vw;
    opacity: 0;
}


.vector-img {
    width: calc(100vw - 20px);
    position: absolute;
    top: clamp(28%, 17.730375426621166px + 10.238907849829351vw, 28%);
}

.vector-img-responsive {
    position: absolute;
    top: clamp(250px, 161.11111111111111px + 27.77777777777778vw, 425px);
    width: 100%;
}

.introduction-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.introduction-text {
    position: relative;
    color: white;
    margin-bottom: 120px;
    z-index: 10;
}

.translate {
    position: absolute;
    top: 0;
    left: -105px;
    display: inline-block;
    transform: rotate(-90deg);
    margin-right: -31px;
    width: max-content;
    font-size: clamp(2.6rem, 0.6343430034129696rem + 3.3105802047781565vw, 3.8125rem);
    margin-top: 57px;
    height: fit-content;
    margin-top: 9%;
    left: -19%;
}

.name {
    font-weight: 900;
    font-size: clamp(2.875rem, 0.44325938566552914rem + 4.09556313993174vw, 4.375rem);
}

.color-title {
    color: #4B47FF;
    width: max-content;
    font-size: clamp(2rem, 0.17619453924914685rem + 3.0716723549488054vw, 3.125rem);
}

.name-parent {
    margin-left: -10px;
    width: fit-content;
}

.left-line-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.left-line {
    background: #4B47FF;
    width: clamp(30px, 8.947368421052634px + 6.578947368421052vw, 110px);
    height: 4px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.links-parent {
    z-index: 45;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: clamp(113%, 60.92150170648466px + 40.955631399317404vw, 108%);
    padding-right: 10%;
}


.links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    a {
        color: white;
        font-size: 23px;
        text-decoration: none;


        &:hover {
            scale: 1.2;
            transition: all 125ms ease-in-out;
        }
    }

    .email:hover {
        scale: 1 !important;
    }
}


.scroll-down {
    transform: rotate(90deg) translateY(-228%);
    color: white;
    font-size: 23px;
    text-decoration: none;
}

.scroll-down-arrow {
    transform: rotate(-90deg);
    animation: scroll-down-animation 2s infinite;
}

.background-purple {
    position: absolute;
    right: 0;
    top: 100%;
    background-image: url('^assets/img/background-images/introduction-purple2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 20;
    width: clamp(200px, 173.68421052631578px + 8.223684210526317vw, 300px);
    height: 600px;
}

@keyframes scroll-down-animation {

    0%,
    100% {
        transform: rotate(-90deg) translateY(0);
    }

    50% {
        transform: rotate(-90deg) translateY(10px);
    }
}


@media(max-width: 950px) {
    section {
        background-position: left 69% top 15%, left 23% top 10%;
        background-size: 75%;
    }

    .introduction-img {
        width: clamp(224px, 125.46031746031746px + 30.793650793650794vw, 418px);
    }

    .vector-img {
        display: none;
    }


    // Wenn das rein kommt passt es beim HAndy, dafür aber beim Normalen Bildschirm nicht mehr

    // .vector-img-responsive {
        // width: 100%;
        // width: calc(100vw - clamp(0px, -10.158730158730158px + 3.1746031746031744vw, 20px));
    // }

    .introduction-parent {
        flex-direction: column;
    }

    .introduction-text {
        
        margin: 5% -5% 0 0;
    }

    .translate {
        font-size: clamp(1.5625rem, 0.14583333333333348rem + 5.964912280701754vw, 3.6875rem);
    }

    .name {
        font-size: clamp(1.8125rem, 0.02083333333333326rem + 7.5438596491228065vw, 4.5rem);
    }

    .color-title {
        font-size: clamp(1.25rem, 0.016666666666666607rem + 5.192982456140351vw, 3.1rem);
    }

    .name-parent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-line-parent {
        width: 100%;
    }

    .links-parent {
        top: 105%;
    }

    .email {
        display: none;
    }

    .scroll-down {
        display: none;
    }
}


@media(min-width: 950px) {
    .vector-img-responsive {
        display: none;
    }
}


@media(max-width: 850px) {
    section {
        padding: 0 5% 0 5%;
    }
}


@media(max-width: 650px) {

    .translate {
        left: -21%;
    }

    .links-parent {
        top: 110%;
    }
}