<div class="introduction">

    <div class="introduction-parent">

            <img class="introduction-img" src="assets/img/Download.png">

        <div class="introduction-text">

            <span class="translate">I am </span>

            <div class="name-parent">
                <span class="name">ROBERT ALIAJ</span>
                <div class="color-title"> FRONTEND DEVELOPER</div>
                <a href="#" class="button">Let's talk!</a >
                    <!-- <button>Lets Talk</button> -->
            </div>

        </div>
    </div>

    <img class="vector-img" src="assets/img/background-images/vector.png">

    <div class="left-line-parent">

        <div class="left-line"></div>

        <div class="links">
            <a href="#">
                <img src="assets/img/icons/github.png">
            </a>
            <a href="#">
                <img src="assets/img/icons/contact.png">
            </a>
            <a href="#">
                <img src="assets/img/icons/linkedin.png">
            </a>

            <a href="#">
                robertaliaj97@gmail.com
            </a>
        </div>
    </div>

    <span class="scroll-down">Scroll down <img src="assets/img/icons/arrow-right.png"></span>

    <div class="background-purple"></div>

</div>