<div class="project">

    <div class="img-div">
        <img src="assets/img/projects/Pollo loco 1.png">
    </div>

    <div class="project-description">
        <span class="project-name">Join</span>
        <span class="project-tech">JavaScript | HTML | CSS</span>
        <p>A simple Jump-and-Run game based on an object-oriented approach.<br>
            Help Pepe Peligroso to win his live or die
            fight again the chickens.</p>

        <div class="button-div">
            <a class="project-button" href="#">Live Test</a>
            <a class="project-button github-button" href="#">Github</a>
        </div>
    </div>


    <img src="assets/img/background-images/background-projects.png" class="background">

</div>