<div class='impressum'>
    <h2>Impressum</h2>
    <p>Angaben gemäß § 5 TMG</p>
    <p>Robert Aliaj <br>
        Kirchenstraße 12<br>
        44147 Dortmund <br>
    </p>
    <p> <strong>Vertreten durch: </strong><br>
        Robert Aliaj<br>
    </p>
    <p><strong>Kontakt:</strong> <br>
        Telefon: 0157-71128688<br>
        E-Mail: <a href='mailto:robertaliaj97@gmail.com'>robertaliaj97@gmail.com</a><br></p><br>
    Website Impressum von <a href="https://www.impressum-generator.de">impressum-generator.de</a>

    <p>Created my free logo at <a href="https://logomakr.com" target="_blank">LogoMakr.com</a>



        The icons are provided by <a href="https://fontawesome.com/" rel="nofollow" target="_blank">FontAwesome</a>
        unter the <a href="https://fontawesome.com/license" target="_blank" rel="nofollow"> Creative Commons
            Attribution 4.0 International license</a>.</p>
</div>