* {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    font-size: 16px;
}


@media (max-width: 850px) {
    html {
        font-size: 14px;
    }
}


@media (max-width: 600px) {
    html {
        font-size: 12px;
    }
}



@media (max-width: 480px) {
    html {
        font-size: 10px;
    }
}



body {
    margin: 0;
    background-color: rgb(20, 29, 47);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-image: url(assets/img/background-images/Contact-form-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    background-size: 650px;
}


a,
button,
img {
    transition: all 125ms ease-in-out;

}

.button,
.project-button,
.contact-button {
    position: relative;
    z-index: 1;
    display: block;
    background-color: transparent;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: fit-content;
    height: 58px;
    padding: 15px 30px;
    gap: 10px;
    border: none;
    font-size: 23px;
    line-height: 120%;
    color: white;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 150px;
    text-decoration: none;
}

.button::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00BEE8;
    border-radius: 10px;
    transition: all 125ms ease-in-out;
    transform-origin: top;
}

.button:hover::before {
    background-color: rgb(75, 71, 255);
    transform: scaleX(1.1) scaleY(1.1);
}