* {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    font-size: 16px;
}


body {
    margin: 0;
    background-color: rgb(20, 29, 47);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;

    background-image: url('^assets/img/background-images/intro-crop.webp'), url('^assets/img/background-images/skills.webp');
    background-repeat: no-repeat, no-repeat;
    background-position: top 3% left -5%, left 40%;
    background-size: clamp(570px, 197.1331058020478px + 39.249146757679185vw, 800px), 400px;
}

a,
button,
img {
    transition: all 125ms ease-in-out;
}

.button,
.project-button,
.contact-button {
    position: relative;
    z-index: 1;
    display: block;
    background-color: transparent;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: fit-content;
    padding: 15px 30px;
    gap: 10px;
    border: none;
    font-size: clamp(1.125rem, 1.042763157894737rem + 0.41118421052631576vw, 1.4375rem);
    line-height: 120%;
    color: white;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 150px;
    text-decoration: none;

    @media(max-width: 1300px) {
        margin-top: clamp(6%, 8.412698412698413px + 1.746031746031746vw, 5%);
    }

    @media(max-width: 950px) {
        margin-left: 0;
    }
}

.button::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00BEE8;
    border-radius: 10px;
    transition: all 125ms ease-in-out;
    transform-origin: top;
}

.button:hover::before {
    background-color: rgb(75, 71, 255);
    transform: scaleX(1.1) scaleY(1.1);
}



@media(max-width: 950px) {

    body {
        background-image: url('^assets/img/background-images/intro-crop.webp'), url('^assets/img/background-images/skills.webp');
        background-position: top 140px left clamp(-45px, -104px + 15vw, 50px), left -120px top 40%;
        background-size: clamp(400px, 196px + 63vw, 800px), clamp(190px, 83px + 33vw, 400px);
    }
}


@media(max-width: 320px) {

    body {
        background-image: url('^assets/img/background-images/intro-crop.webp'), url('^assets/img/background-images/skills.webp');
        background-position: top 140px left clamp(-45px, -104px + 15vw, 50px), left -108px top 39%;
        background-size: clamp(400px, 196px + 63vw, 800px), clamp(190px, 83px + 33vw, 400px);
    }
}